@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background: url("https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
    top: 0;
    color: #ffffff !important;
    font-size: 46px;
    text-align: center;
    z-index: -2 !important;
}
.navbar {
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    margin-right: 120px !important;
}
.navbar li {
    color: #ffffff !important;
}
.navbar li:hover {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    
    animation: fadein 2s;
}
.navbar-default .navbar-nav>li>a {
    font-size: 20px !important;
    color: #fff !important;
}
.active {
    background: none !important
}
#logo {
    text-align: center;
    margin-top: -50px;
    z-index: 1;
    position: none !important;
}
#logo:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
.smash-1 {
    background-color: #2d2d2d !important;
    width: 100%;
    height: 100px;
    margin-top: -35px;
    z-index: -2;
    color: #fff;
    font-family: 'Discord', sans-serif;
    padding: 1rem;
    font-size: 50px;
}
.footerz {
    background-color: #000;
    width: 100%;
    height: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 30px;
}
.footerz p {
    color: #fff;
    padding: 1rem;
    text-align: right;
    font-size: 20px;
}
.smash2 {
    text-align: center !important;
    width: 80%;
    margin: auto;
    margin-top: 45px;
    height: 500px;
}
.span8 h1 {} .span8 p {
    font-size: 18px;
}
body {
    height: auto;
}
#class {
    margin-top: -50px;
    text-shadow: 2px 2px 8px #000000;
}
.avatar img {
    float: left;
    margin-top: -39px;
    z-index: -1 !important;
    -webkit-transition: transform 1.5s ease-in-out;
}
.avatar img:hover {
    -webkit-transition: transform 1.5s ease-in-out;
    -webkit-transform: translateX(-350px);
    transform: translateX(-350px);
    text-shadow: 2px 2px 8px #fff;
    ;
}
.btn-transparent {
    background: transparent !important;
    border: 3px solid #000 !important;
    padding: 20px 30px !important;
    font-size: 24px !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    color: #000 !important;
    margin-right: 10px;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
    height: 80px !important;
}
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
    background: #000 !important;
    color: #fff !important;
    text-decoration: none !important;
}
.btn-light {
    background: #fff !important;
    border: 3px solid #fff !important;
    padding: 20px 30px !important;
    font-size: 24px !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    color: #0d0d0d !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
    height: 80px !important;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    background: transparent !important;
    color: #fff !important;
    text-decoration: none !important;
}
.btn {
    margin-top: 75px;
    width: 300px;
    z-index: 1;
}
.butt {
    margin-left: 20px;
}
.gifz img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    background: black;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 3;
    margin-right: 360px;
}
.gifz img:hover {
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 360px;
    width: 520px;
    z-index: 3;
    height: 520px;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}
.now {
    border: 4px solid white;
    border-radius: 5px;
    width: 920px;
    height: 530px;
    background-color: #505050;
    border-color: #505050;
    text-align: center;
    margin: auto;
    z-index: 1;
    left: 0;
    right: 0;
}
.play {
    margin-top: 200px;
}
.now:after {
    content: "";
    width: 910px;
    display: block;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 20px 2px #000000;
    -moz-box-shadow: 0px 0px 20px 2px #000000;
    box-shadow: 0px 0px 20px 2px #000000;
}
.aboutz {
    width: 100%;
    height: 250px;
    position: relative;
    background: url("http://i.imgur.com/B2oowIp.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-size: 100px;
    text-align: center;
    display: table;
    font-family: 'Merriweather Sans', sans-serif;
}
.aboutz:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.aboutz:hover:after {
    opacity: 1;
}
.span {
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all 1s;
    opacity: 1;
    transition: all 1s;
    color: rgba(255, 255, 255, 1);
    font-family: 'Merriweather Sans', sans-serif;
}
.span:hover {
    color: rgba(255, 255, 255, 0);
}
