<!doctype html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}
<div id="home_center"><div id="home_well"><div class="well well-lg"><div data-content="About" class="image"><img src="{{url_for('static', filename='avatar.png')}}"></div></div></div>
<div id="home_well"><div class="well well-lg"><div data-content="Portfolio" class="image"><img src="{{url_for('static', filename='avatar.png')}}"></div></div></div>
<div id="home_well"><div class="well well-lg"><div data-content="Contact" class="image"><img src="{{url_for('static', filename='avatar.png')}}"></div></div></div></div>

{% include 'script.html' %}
</body>
</html>
